# При желании можно раскоментировать данные строки или добавить свои файлы, директории для .gitignore

# Игнорируем саму базу данных 1С и её временные файлы
# build/ib/
#*.1CD
#*.1cd
# *.cfl
# *.log
# *.lgp

# Игнорируем локальные модули OneScript
# oscript_modules/